# - This is TDG's sync.py example config file 
# For comments you can use # at the beginning only!
#twitter = 1 is for enabling twitter service

# Custom html file path - this file will be readed and replaced
# with {tags} in sync.py
html=index.html

# FTP file upload path - sending html file to your selected directory in
# ftp server
filepath=/httpdocs/server/

# FTP user name - for connecting to your ftp server
ftpuser=tdgunes

# FTP password - for connecting to your ftp server
ftppass=

# FTP host name - for connecting to your ftp server
hostname=

# Interval - Update interval for the service loop
interval=76

# Twitter - Enabling the twitter api (If you want to send
# tweets about your service status from premade sentences
twitter=1


# Sentences - Your premade sentences which includes tags that will
# be replaced with your live server information ({cpunumber},{memory})

sentences=/home/tdgunes/scripts/tdgsyncv3/sentences


#twitter api storing here

#Twitter app api keys
tckey = 
tcsecret = 
#Your own tokens
tatkey =
tatsecret = 



