#This is TDG's sync.py config file 
#ftp for ftp password
#twitter = 1 is for enabling twitter service

html=index.html
filepath=/httpdocs/server/
ftpuser=tdgunes
ftppass=
hostname=
interval=76
twitter=1

#twitter api storing here
tckey = 
tcsecret = 
#these two are important needs to be secret
tatkey =
tatsecret = 
#FIXME needs a twitter api key storage here
