# - This is TDG's sync.py example config file 

startmessage=TDG Server is Online! sync: =version= ip: =ip=

dynamicmessage=I hate being dynamic! But it is my nature: =ip=

# For comments you can use # at the beginning only!

# Custom html file path - this file will be readed and replaced
# with {tags} in sync.py
html=index.html

# FTP file upload path - sending html file to your selected directory in
# ftp server
filepath=/httpdocs/server/

# FTP user name - for connecting to your ftp server
ftpuser=tdgunes

# FTP password - for connecting to your ftp server
ftppass=

# FTP host name - for connecting to your ftp server
hostname=

# Total times - for how many calls you want to send utility message to twitter
#     Let's say your cronjob line is for every 15 minutes, totaltimes = 3 means it will send message
#  for every 45 minutes :)
calltimes=3 



# Twitter - Enabling the twitter api (If you want to send
# tweets about your service status from premade sentences
twitter=1


# Sentences - Your premade sentences which includes tags that will
# be replaced with your live server information ({cpunumber},{memory})

sentences=/home/tdgunes/scripts/tdgsyncv3/sentences



#twitter api storing here

#Twitter app api keys
tckey = 
tcsecret = 
#Your own tokens
tatkey =
tatsecret = 



